$awidth:600px;

h1{
	color:red;
}



article.sound{
    width:600px;
    margin:0 auto;
    outline:1px solid red;
    font-szie:0px;

    section.sound-content{
	    width:300px;
	    display:inline-block;
	    font-szie:19px;
	}
}